@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply the font to the paragraph using the custom variable */
/* Use the Great Vibes font only for this specific class */
body {
    background: #0D0D0DF2;
}
@font-face {
    font-family: 'GreatVibes';
    src: url('./fonts/GreatVibes.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  